# Gradle
build/
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo
*~
.project
.classpath
.settings/
bin/
out/

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Plugin testing
run/
test-server/

# Compiled files
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log
logs/

# Kotlin
.kotlin/

# Package Files
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*